<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>详情页面</title>
</head>


<body>

<div class="container">
    <div class="row">
        <div class="center-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">本周周报</h3>
                    <h5 href="https://www.88bugs.com/login">https://www.88bugs.com/login</h5>
                </div>
                <div class="panel-body">
                    <div>
                        <table border="1">
                            <tr display="inline-block">
                                <th>员工姓名</th>
                                <th>周报类型</th>
                                <th>历时时间</th>
                                <th>周报事项</th>
                                <th>完成百分比</th>
                                <th>预计上线</th>
                                <th>操作按钮</th>
                            </tr>
                            <tr th:each="item:${lists}" display="inline-block">
                                <td th:text="${item.username}"></td>
                                <td th:text="${item.typename}"></td>
                                <td th:text="${item.timeduring}"></td>
                                <td th:text="${item.taskname}"></td>
                                <td th:text="${item.numPercent}"></td>
                                <td th:text="${item.onlineDate}"></td>

                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
